In [2]:
import pandas as pd
import numpy as np

In [ ]:
WHO = pd.read_csv('WHO-COVID-19-global-table-data.csv', header=0)
Continents = ['Americas', 'Western Pacific', 'South-East Asia', 'Europe', 'Eastern Mediterranean', 'Africa', 'Other']
results = {}
maxim = []
for i in Continents:
    counter = 0
    mx = -999999999
    for i in WHO[WHO['Name']==i]['Cases - newly reported in last 24 hours']:
        if int(i) > mx:
            mx = int(i)
    maxim.append(mx)
print(maxim)

for i in maxim:
    WHO[WHO['Cases - newly reported in last 24 hours']== int(i)]
    print(WHO[WHO['Cases - newly reported in last 24 hours']== int(i)]['Name'])
# df['Deaths - cumulative total']

In [3]:
Covid = pd.read_csv('owid-covid-data.csv')
Covid['iso_code'].unique()
Covid['continent'].unique()

array(['Asia', nan, 'Europe', 'Africa', 'Oceania', 'North America',
       'South America'], dtype=object)

In [5]:
Covid[Covid['iso_code'] == 'ZAF']

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
267553,ZAF,Africa,South Africa,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,33.2,43.993,2.32,64.13,0.709,59893884.0,NaN,NaN,NaN,NaN
267554,ZAF,Africa,South Africa,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,33.2,43.993,2.32,64.13,0.709,59893884.0,NaN,NaN,NaN,NaN
267555,ZAF,Africa,South Africa,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,33.2,43.993,2.32,64.13,0.709,59893884.0,245.1,2.41,2.41,4.168231
267556,ZAF,Africa,South Africa,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,33.2,43.993,2.32,64.13,0.709,59893884.0,NaN,NaN,NaN,NaN
267557,ZAF,Africa,South Africa,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,33.2,43.993,2.32,64.13,0.709,59893884.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268828,ZAF,Africa,South Africa,2023-07-01,4072533.0,0.0,0.0,102595.0,0.0,0.0,...,33.2,43.993,2.32,64.13,0.709,59893884.0,NaN,NaN,NaN,NaN
268829,ZAF,Africa,South Africa,2023-07-02,4072533.0,0.0,0.0,102595.0,0.0,0.0,...,33.2,43.993,2.32,64.13,0.709,59893884.0,NaN,NaN,NaN,NaN
268830,ZAF,Africa,South Africa,2023-07-03,4072533.0,0.0,0.0,102595.0,0.0,0.0,...,33.2,43.993,2.32,64.13,0.709,59893884.0,NaN,NaN,NaN,NaN
268831,ZAF,Africa,South Africa,2023-07-04,4072533.0,0.0,0.0,102595.0,0.0,0.0,...,33.2,43.993,2.32,64.13,0.709,59893884.0,NaN,NaN,NaN,NaN
268832,ZAF,Africa,South Africa,2023-07-05,4072533.0,0.0,0.0,102595.0,0.0,0.0,...,33.2,43.993,2.32,64.13,0.709,59893884.0,NaN,NaN,NaN,NaN

In [27]:
c_d = Covid[['iso_code','continent', 'total_deaths']]
c_d = c_d.fillna(0)
c_d.head()

  iso_code continent  total_deaths
0      AFG      Asia           0.0
1      AFG      Asia           0.0
2      AFG      Asia           0.0
3      AFG      Asia           0.0
4      AFG      Asia           0.0

In [28]:
list(set(c_d[c_d['continent'] == 'Asia']['iso_code'].tolist()))

['TKM',
 'BTN',
 'ISR',
 'TLS',
 'CHN',
 'SAU',
 'SYR',
 'OMN',
 'IDN',
 'JOR',
 'HKG',
 'IND',
 'MAC',
 'KGZ',
 'MNG',
 'THA',
 'SGP',
 'YEM',
 'NPL',
 'VNM',
 'TWN',
 'JPN',
 'OWID_CYN',
 'MMR',
 'GEO',
 'BGD',
 'LBN',
 'UZB',
 'KHM',
 'QAT',
 'PRK',
 'LAO',
 'KAZ',
 'ARM',
 'PHL',
 'KWT',
 'IRN',
 'LKA',
 'MDV',
 'AZE',
 'AFG',
 'KOR',
 'TUR',
 'MYS',
 'TJK',
 'BHR',
 'BRN',
 'IRQ',
 'PSE',
 'ARE',
 'PAK']

In [ ]:
oceania = ['NZL',
 'FJI',
 'SLB',
 'AUS',
 'COK',
 'MHL',
 'PLW',
 'NRU',
 'NCL',
 'PYF',
 'VUT',
 'TUV',
 'PCN',
 'NIU',
 'GUM',
 'KIR',
 'PNG',
 'TKL',
 'WLF',
 'FSM',
 'MNP',
 'TON',
 'ASM',
 'WSM']

In [36]:
c = ['Asia','Europe', 'Africa', 'Oceania', 'North America',
       'South America']

In [37]:
for q in c:
    max_val = 0
    max_c = ''
    for z in (list(set(c_d[c_d['continent'] == q]['iso_code'].tolist()))):
        if max_val < max(c_d[c_d['iso_code']==z]['total_deaths'].tolist()):
            max_c = z
            max_val = max(c_d[c_d['iso_code']==z]['total_deaths'].tolist())
    print(max_c, max_val)

IND 531908.0
RUS 399649.0
ZAF 102595.0
AUS 21917.0
USA 1127152.0
BRA 703964.0

In [ ]:
import math

for k in c:
    oc_countries = []
    oc_total_deaths = []
    print(k)
    for i in list(set(Covid[Covid['continent'] == k]['iso_code'].tolist())):
        j = -1
        while True:
            try:
                Covid[Covid['iso_code']==i]['total_deaths'].tolist()[j]
                if math.isnan(Covid[Covid['iso_code']==i]['total_deaths'].tolist()[j]):
                    j -= 1
                    continue
                else:
                    oc_total_deaths.append(Covid[Covid['iso_code']==i]['total_deaths'].tolist()[j])
                    oc_countries.append(i)
                    break
            except:
                break
                

    print(oc_countries)
    print(oc_total_deaths)
    maxis = 0
    m_c = ''
    for q in range(len(oc_countries)):
        if oc_total_deaths[q] > maxis:
            maxis = oc_total_deaths[q]
            m_c = oc_countries[q]
    print(maxis, m_c)
    print('----------------------------------')

In [ ]:
Covid.columns

In [ ]:
iso_unique = ['AFG', 'OWID_AFR', 'ALB', 'DZA', 'ASM', 'AND', 'AGO', 'AIA', 'ATG',
       'ARG', 'ARM', 'ABW', 'OWID_ASI', 'AUS', 'AUT', 'AZE', 'BHS', 'BHR',
       'BGD', 'BRB', 'BLR', 'BEL', 'BLZ', 'BEN', 'BMU', 'BTN', 'BOL',
       'BES', 'BIH', 'BWA', 'BRA', 'VGB', 'BRN', 'BGR', 'BFA', 'BDI',
       'KHM', 'CMR', 'CAN', 'CPV', 'CYM', 'CAF', 'TCD', 'CHL', 'CHN',
       'COL', 'COM', 'COG', 'COK', 'CRI', 'CIV', 'HRV', 'CUB', 'CUW',
       'CYP', 'CZE', 'COD', 'DNK', 'DJI', 'DMA', 'DOM', 'ECU', 'EGY',
       'SLV', 'OWID_ENG', 'GNQ', 'ERI', 'EST', 'SWZ', 'ETH', 'OWID_EUR',
       'OWID_EUN', 'FRO', 'FLK', 'FJI', 'FIN', 'FRA', 'GUF', 'PYF', 'GAB',
       'GMB', 'GEO', 'DEU', 'GHA', 'GIB', 'GRC', 'GRL', 'GRD', 'GLP',
       'GUM', 'GTM', 'GGY', 'GIN', 'GNB', 'GUY', 'HTI', 'OWID_HIC', 'HND',
       'HKG', 'HUN', 'ISL', 'IND', 'IDN', 'IRN', 'IRQ', 'IRL', 'IMN',
       'ISR', 'ITA', 'JAM', 'JPN', 'JEY', 'JOR', 'KAZ', 'KEN', 'KIR',
       'OWID_KOS', 'KWT', 'KGZ', 'LAO', 'LVA', 'LBN', 'LSO', 'LBR', 'LBY',
       'LIE', 'LTU', 'OWID_LIC', 'OWID_LMC', 'LUX', 'MAC', 'MDG', 'MWI',
       'MYS', 'MDV', 'MLI', 'MLT', 'MHL', 'MTQ', 'MRT', 'MUS', 'MYT',
       'MEX', 'FSM', 'MDA', 'MCO', 'MNG', 'MNE', 'MSR', 'MAR', 'MOZ',
       'MMR', 'NAM', 'NRU', 'NPL', 'NLD', 'NCL', 'NZL', 'NIC', 'NER',
       'NGA', 'NIU', 'OWID_NAM', 'PRK', 'MKD', 'OWID_CYN', 'OWID_NIR',
       'MNP', 'NOR', 'OWID_OCE', 'OMN', 'PAK', 'PLW', 'PSE', 'PAN', 'PNG',
       'PRY', 'PER', 'PHL', 'PCN', 'POL', 'PRT', 'PRI', 'QAT', 'REU',
       'ROU', 'RUS', 'RWA', 'BLM', 'SHN', 'KNA', 'LCA', 'MAF', 'SPM',
       'VCT', 'WSM', 'SMR', 'STP', 'SAU', 'OWID_SCT', 'SEN', 'SRB', 'SYC',
       'SLE', 'SGP', 'SXM', 'SVK', 'SVN', 'SLB', 'SOM', 'ZAF', 'OWID_SAM',
       'KOR', 'SSD', 'ESP', 'LKA', 'SDN', 'SUR', 'SWE', 'CHE', 'SYR',
       'TWN', 'TJK', 'TZA', 'THA', 'TLS', 'TGO', 'TKL', 'TON', 'TTO',
       'TUN', 'TUR', 'TKM', 'TCA', 'TUV', 'UGA', 'UKR', 'ARE', 'GBR',
       'USA', 'VIR', 'OWID_UMC', 'URY', 'UZB', 'VUT', 'VAT', 'VEN', 'VNM',
       'OWID_WLS', 'WLF', 'ESH', 'OWID_WRL', 'YEM', 'ZMB', 'ZWE']

In [ ]:
Cont = []
for i in iso_unique:
    Cont.append(Covid[Covid['iso_code']==i]['continent'].tolist()[-1])
print(Cont)

In [ ]:
keys = []
values = []
j = 0
for i in iso_unique:
    keys.append(f'{i}-{Cont[j]}')
    values.append(Covid[Covid['iso_code']==i]['total_deaths'].tolist()[-1])
    j += 1
print(keys)

In [ ]:
Covid['continent'].unique()

In [ ]:
keys

In [ ]:
results

In [ ]:
import math

Continent_unique = ['Asia', 'Europe', 'Africa', 'Oceania', 'North America','South America']
results = []
for i in Continent_unique:
    temp = []
    for j in range(len(keys)):
        if i in keys[j]:
            if math.isnan(values[j]):
                pass
            else:
                temp.append(values[j])
    results.append(temp)

maxi = []
mini = []
for i in results:
    maxi.append(max(i))
    mini.append(min(i))

In [ ]:
for i in range(len(values)):
    for k in maxi:
        if k == values[i]:
            print(k, keys[i])
print('----------------')
for i in range(len(values)):
    for q in mini:
        if q == values[i]:
            print(q, keys[i])